@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World</h1>
<img src="~/DinoDiner-32.png"/>

<a asp-page="/Menu">Menu</a>
<a asp-page="/Privacy">Privacy Policy</a>
<a asp-page="/About">About Page</a>