@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="menu-item">

	<h2>Combos</h2>
	<div class="combo"/>

	<h2>Entrees</h2>
	<div class="entree"/>

	<h2>Sides</h2>
	<div class="sides"/>

	<h2>Drinks</h2>
	<div class="drinks"/>

</div>